%tr
  %td= order.price_buy
  %td= order.price_sell
  %td{ align: 'center' }= order.pips
  %td= order.units
  %td{ align: 'center' }= order.pl
  %td{ align: 'center' }= order.half_spread_cost
  %td= order.status
