= simple_form_for(@strategy) do |f|
  .form-inputs
    = f.input :name
    = f.association :granularity
    = f.association :instrument, label_method: :label
    = f.association :strategy_logic, label_method: :label
    = f.input :units

  .form-actions
    = f.button :submit
