= link_to t('add_new'), new_strategy_path, class: 'btn btn-primary'

%table.table.no-margin.stripped
  %thead
    %tr
      %th{ scope: 'col' }= Strategy.model_name.human
      %th{ scope: 'col' }= Strategy.human_attribute_name :granularity
      %th{ scope: 'col' }= Instrument.model_name.human
      %th{ scope: 'col' }= StrategyLogic.model_name.human
      %th{ scope: 'col' }= Strategy.human_attribute_name :units
      %th{ scope: 'col' }= Strategy.human_attribute_name :status
      %th{ scope: 'col' }
      %th{ scope: 'col' }
      %th{ scope: 'col' }

  %tbody
    = render @strategies
